$page_background: #FFFFFF;
$navbar_background: #0C0745;
$navbar_color: white;
$title_item_color: #272727;
$description_item_color: #272727;
$category_item_color: #272727;
$price_item_color: #EA413E;
$buy_button_color: #FFFFFF;
$buy_button_background: #0D4599;
$buy_button_hover: #072654;
